USE [QuanLySieuThiMini]
GO
ALTER TABLE [dbo].[TonKho] DROP CONSTRAINT [CK__TonKho__SoLuongT__4CA06362]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [CK__SanPham__GiaBan__45F365D3]
GO
ALTER TABLE [dbo].[PhieuNhap] DROP CONSTRAINT [CK__PhieuNhap__TongT__628FA481]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [CK__KhachHang__DiemT__3E52440B]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [CK__HoaDon__ThanhTie__5629CD9C]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [CK__HoaDon__TongTien__534D60F1]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [CK__HoaDon__GiamGia__5535A963]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] DROP CONSTRAINT [CK__ChiTietPh__SoLuo__6754599E]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] DROP CONSTRAINT [CK__ChiTietPh__DonGi__68487DD7]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [CK__ChiTietHo__SoLuo__5AEE82B9]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [CK__ChiTietHo__DonGi__5BE2A6F2]
GO
ALTER TABLE [dbo].[TonKho] DROP CONSTRAINT [FK_TonKho_SanPham]
GO
ALTER TABLE [dbo].[TonKho] DROP CONSTRAINT [FK_TonKho_Kho]
GO
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [FK_SanPham_Loai]
GO
ALTER TABLE [dbo].[PhieuNhap] DROP CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap] DROP CONSTRAINT [FK_PhieuNhap_NCC]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] DROP CONSTRAINT [FK_CTPN_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] DROP CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon] DROP CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[TonKho] DROP CONSTRAINT [DF__TonKho__SoLuongT__4BAC3F29]
GO
ALTER TABLE [dbo].[PhieuNhap] DROP CONSTRAINT [DF__PhieuNhap__TongT__619B8048]
GO
ALTER TABLE [dbo].[PhieuNhap] DROP CONSTRAINT [DF__PhieuNhap__NgayN__60A75C0F]
GO
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [DF__NhanVien__Status__398D8EEE]
GO
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [DF__KhachHang__DiemT__3D5E1FD2]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__GiamGia__5441852A]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__TongTien__52593CB8]
GO
ALTER TABLE [dbo].[HoaDon] DROP CONSTRAINT [DF__HoaDon__NgayLap__5165187F]
GO
/****** Object:  Index [UQ__SanPham__8BBF4A1CD40A3C2F]    Script Date: 6/10/2026 6:08:26 PM ******/
ALTER TABLE [dbo].[SanPham] DROP CONSTRAINT [UQ__SanPham__8BBF4A1CD40A3C2F]
GO
/****** Object:  Index [UQ__NhanVien__C9F2845657BD52A3]    Script Date: 6/10/2026 6:08:26 PM ******/
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [UQ__NhanVien__C9F2845657BD52A3]
GO
/****** Object:  Index [UQ__NhanVien__5C7E359E84523BC7]    Script Date: 6/10/2026 6:08:26 PM ******/
ALTER TABLE [dbo].[NhanVien] DROP CONSTRAINT [UQ__NhanVien__5C7E359E84523BC7]
GO
/****** Object:  Index [UQ__KhachHan__5C7E359E8F457B19]    Script Date: 6/10/2026 6:08:26 PM ******/
ALTER TABLE [dbo].[KhachHang] DROP CONSTRAINT [UQ__KhachHan__5C7E359E8F457B19]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TonKho]') AND type in (N'U'))
DROP TABLE [dbo].[TonKho]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SanPham]') AND type in (N'U'))
DROP TABLE [dbo].[SanPham]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhieuNhap]') AND type in (N'U'))
DROP TABLE [dbo].[PhieuNhap]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhanVien]') AND type in (N'U'))
DROP TABLE [dbo].[NhanVien]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NhaCungCap]') AND type in (N'U'))
DROP TABLE [dbo].[NhaCungCap]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LoaiSanPham]') AND type in (N'U'))
DROP TABLE [dbo].[LoaiSanPham]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Kho]') AND type in (N'U'))
DROP TABLE [dbo].[Kho]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KhachHang]') AND type in (N'U'))
DROP TABLE [dbo].[KhachHang]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[HoaDon]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietPhieuNhap]') AND type in (N'U'))
DROP TABLE [dbo].[ChiTietPhieuNhap]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/10/2026 6:08:26 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChiTietHoaDon]') AND type in (N'U'))
DROP TABLE [dbo].[ChiTietHoaDon]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [varchar](15) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGiaBan] [money] NOT NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [varchar](15) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuongNhap] [int] NOT NULL,
	[DonGiaNhap] [money] NOT NULL,
	[HanSuDung] [date] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](15) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaNV] [varchar](10) NULL,
	[MaKH] [varchar](10) NULL,
	[TongTien] [money] NULL,
	[GiamGia] [money] NULL,
	[ThanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[UserName] [varchar](15) NULL,
	[Phone] [varchar](10) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaKho] [varchar](10) NOT NULL,
	[TenKho] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[NameNCC] [nvarchar](100) NOT NULL,
	[Phone] [varchar](10) NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Phone] [varchar](10) NULL,
	[Role] [nvarchar](30) NULL,
	[UserName] [varchar](30) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [varchar](15) NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[TongTienNhap] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[MaVach] [varchar](20) NULL,
	[MaLoai] [varchar](10) NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[DonVi] [nvarchar](20) NULL,
	[GiaBan] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 6/10/2026 6:08:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[MaKho] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuongTonKho] [int] NULL,
 CONSTRAINT [PK_TonKho] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PhieuDoiTra]    Script Date: 6/23/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDoiTra](
	[MaPhieuDT] [varchar](15) NOT NULL,
	[MaHD] [varchar](15) NULL,
	[NgayDoiTra] [datetime] NULL,
	[TongTienHoan] [money] NULL,
	[LyDo] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhieuDoiTra] ADD DEFAULT (getdate()) FOR [NgayDoiTra]
GO
ALTER TABLE [dbo].[PhieuDoiTra] ADD CONSTRAINT [FK_PhieuDoiTra_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
/****** Object:  Table [dbo].[LichSuDoiDiem]    Script Date: 6/23/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDoiDiem](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[MaHD] [varchar](15) NULL,
	[SoDiemDoi] [int] NOT NULL,
	[SoTienGiam] [decimal](15, 2) NOT NULL,
	[ThoiGian] [datetime] NULL,
	[GhiChu] [nvarchar](300) NULL,
 CONSTRAINT [PK_LichSuDoiDiem] PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LichSuDoiDiem] ADD DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[LichSuDoiDiem] ADD CONSTRAINT [FK_LichSu_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[LichSuDoiDiem] ADD CONSTRAINT [FK_LichSu_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
/****** Object:  Table [dbo].[PhieuHuy]    Script Date: 6/23/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuHuy](
	[MaPhieuHuy] [varchar](50) NOT NULL,
	[NgayHuy] [datetime] NULL,
	[TongTienLo] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuHuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhieuHuy] ADD DEFAULT (getdate()) FOR [NgayHuy]
GO
ALTER TABLE [dbo].[PhieuHuy] ADD DEFAULT ((0)) FOR [TongTienLo]
GO
/****** Object:  Table [dbo].[ChiTietPhieuHuy]    Script Date: 6/23/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuHuy](
	[MaPhieuHuy] [varchar](50) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuongHuy] [int] NOT NULL,
	[TienLo] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuHuy] PRIMARY KEY CLUSTERED 
(
	[MaPhieuHuy] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietPhieuHuy] ADD CONSTRAINT [FK_ChiTietPhieuHuy_PhieuHuy] FOREIGN KEY([MaPhieuHuy])
REFERENCES [dbo].[PhieuHuy] ([MaPhieuHuy])
GO
ALTER TABLE [dbo].[ChiTietPhieuHuy] ADD CONSTRAINT [FK_ChiTietPhieuHuy_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGiaBan], [ThanhTien]) VALUES (N'HD2606010001', N'SP001', 2, 32000.0000, 64000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGiaBan], [ThanhTien]) VALUES (N'HD2606010001', N'SP002', 3, 11000.0000, 33000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong], [DonGiaBan], [ThanhTien]) VALUES (N'HD2606010002', N'SP002', 1, 11000.0000, 11000.0000)
GO
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuongNhap], [DonGiaNhap], [HanSuDung]) VALUES (N'PN260601001', N'SP001', 150, 27000.0000, CAST(N'2026-12-01' AS Date))
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuongNhap], [DonGiaNhap], [HanSuDung]) VALUES (N'PN260601002', N'SP002', 100, 9000.0000, CAST(N'2027-03-01' AS Date))
INSERT [dbo].[ChiTietPhieuNhap] ([MaPN], [MaSP], [SoLuongNhap], [DonGiaNhap], [HanSuDung]) VALUES (N'PN260601002', N'SP003', 100, 8000.0000, CAST(N'2027-02-15' AS Date))
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [TongTien], [GiamGia], [ThanhTien]) VALUES (N'HD2606010001', CAST(N'2026-06-01T10:20:00.000' AS DateTime), N'NV002', N'KH001', 97000.0000, 5000.0000, 92000.0000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [TongTien], [GiamGia], [ThanhTien]) VALUES (N'HD2606010002', CAST(N'2026-06-01T11:45:00.000' AS DateTime), N'NV002', N'KH003', 33000.0000, 0.0000, 33000.0000)
GO
INSERT [dbo].[KhachHang] ([MaKH], [UserName], [Phone], [DiemTichLuy]) VALUES (N'KH001', N'anh_tuan', N'0934567890', 120)
INSERT [dbo].[KhachHang] ([MaKH], [UserName], [Phone], [DiemTichLuy]) VALUES (N'KH002', N'bao_ngoc', N'0945678901', 50)
INSERT [dbo].[KhachHang] ([MaKH], [UserName], [Phone], [DiemTichLuy]) VALUES (N'KH003', N'khach_vl', N'0000000000', 0)
GO
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi]) VALUES (N'K01', N'Kho tổng siêu thị', N'Khu vực tầng hầm B1')
INSERT [dbo].[Kho] ([MaKho], [TenKho], [DiaChi]) VALUES (N'K02', N'Quầy trưng bày POS', N'Khu vực tầng trệt')
GO
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (N'L01', N'Sữa và các sản phẩm từ Sữa')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (N'L02', N'Nước giải khát')
INSERT [dbo].[LoaiSanPham] ([MaLoai], [TenLoai]) VALUES (N'L03', N'Hóa mỹ phẩm & Tẩy rửa')
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [NameNCC], [Phone], [Address]) VALUES (N'NCC01', N'Công ty Cổ phần Sữa Việt Nam (Vinamilk)', N'0283915815', N'10 Tân Trào, Tân Phú, Quận 7, TP.HCM')
INSERT [dbo].[NhaCungCap] ([MaNCC], [NameNCC], [Phone], [Address]) VALUES (N'NCC02', N'Công ty TNHH Nước Giải Khát Suntory Pepsico', N'0283821943', N'88 Đồng Khởi, Quận 1, TP.HCM')
INSERT [dbo].[NhaCungCap] ([MaNCC], [NameNCC], [Phone], [Address]) VALUES (N'NCC03', N'Tập đoàn Unilever Việt Nam', N'0285413568', N'156 Nguyễn Lương Bằng, Quận 7, TP.HCM')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Phone], [Role], [UserName], [Password], [Status]) VALUES (N'NV001', N'Chềnh Hưng Thọ', N'0901234567', N'Admin', N'admin', N'pass123', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Phone], [Role], [UserName], [Password], [Status]) VALUES (N'NV002', N'Nguyễn Văn Thu', N'0912345678', N'Thu ngân', N'thu_cashier', N'pass123', 1)
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Phone], [Role], [UserName], [Password], [Status]) VALUES (N'NV003', N'Trần Văn Khoa', N'0923456789', N'Kho', N'khoa_warehouse', N'pass123', 1)
GO
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC], [MaNV], [TongTienNhap]) VALUES (N'PN260601001', CAST(N'2026-06-01T08:30:00.000' AS DateTime), N'NCC01', N'NV003', 4800000.0000)
INSERT [dbo].[PhieuNhap] ([MaPN], [NgayNhap], [MaNCC], [MaNV], [TongTienNhap]) VALUES (N'PN260601002', CAST(N'2026-06-01T09:15:00.000' AS DateTime), N'NCC02', N'NV003', 2000000.0000)
GO
INSERT [dbo].[SanPham] ([MaSP], [MaVach], [MaLoai], [TenSP], [DonVi], [GiaBan]) VALUES (N'SP001', N'8934673123456', N'L01', N'Sữa tươi tiệt trùng Vinamilk ít đường 1L', N'Hộp', 32000.0000)
INSERT [dbo].[SanPham] ([MaSP], [MaVach], [MaLoai], [TenSP], [DonVi], [GiaBan]) VALUES (N'SP002', N'8934588012134', N'L02', N'Nước ngọt Pepsi lon 320ml', N'Lon', 11000.0000)
INSERT [dbo].[SanPham] ([MaSP], [MaVach], [MaLoai], [TenSP], [DonVi], [GiaBan]) VALUES (N'SP003', N'8934841901222', N'L02', N'Nước tăng lực Sting dâu chai 320ml', N'Chai', 10000.0000)
GO
INSERT [dbo].[TonKho] ([MaKho], [MaSP], [SoLuongTonKho]) VALUES (N'K01', N'SP001', 150)
INSERT [dbo].[TonKho] ([MaKho], [MaSP], [SoLuongTonKho]) VALUES (N'K01', N'SP002', 300)
INSERT [dbo].[TonKho] ([MaKho], [MaSP], [SoLuongTonKho]) VALUES (N'K01', N'SP003', 200)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__5C7E359E8F457B19]    Script Date: 6/10/2026 6:08:27 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__5C7E359E84523BC7]    Script Date: 6/10/2026 6:08:27 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__C9F2845657BD52A3]    Script Date: 6/10/2026 6:08:27 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__8BBF4A1CD40A3C2F]    Script Date: 6/10/2026 6:08:27 PM ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[MaVach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT ((0)) FOR [TongTienNhap]
GO
ALTER TABLE [dbo].[TonKho] ADD  DEFAULT ((0)) FOR [SoLuongTonKho]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_CTHD_SanPham]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NCC]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_Kho] FOREIGN KEY([MaKho])
REFERENCES [dbo].[Kho] ([MaKho])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_Kho]
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD  CONSTRAINT [FK_TonKho_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[TonKho] CHECK CONSTRAINT [FK_TonKho_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([DonGiaBan]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([DonGiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD CHECK  (([SoLuongNhap]>(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([GiamGia]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([ThanhTien]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([DiemTichLuy]>=(0)))
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD CHECK  (([TongTienNhap]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD CHECK  (([SoLuongTonKho]>=(0)))
GO
